<input type='search' placeholder='where?' /> or <a href="?here">use my current location</a>

<br /><br /> 


<% @food_trucks.sort_by! {|f| f[:distance]}.each do |food_truck| %>
  <li><%= food_truck[:name] %> - <%= number_with_precision(food_truck[:distance], {precision: 2} ) %> miles</li>
<% end %>