<input type='search' placeholder='where?' /> or <a href="?here">use my current location</a>
<ul>
<% @food_trucks.each_with_index do |food_truck, index| %>
  <li><%= food_truck.name %></li>
<% end %>
</ul>

<%= build_query_string @food_trucks %>