#left
  = form_tag food_trucks_path, method: 'get' do
    = label_tag :location
    = text_field_tag :location 
    = submit_tag 'search' 

  - if @food_trucks
    ol.food-trucks
      - @food_trucks.each do |food_truck|
        li
          = food_truck.name
          br
          | (
          span.distance = number_with_precision food_truck.distance, precision: 2
          |  miles away)


#map_canvas

script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxQkZ5bIQf0KZFxQO85S9QSe870F66pB8&sensor=false"

javascript:
  var lat = #{@my_lat};
  var long = #{@my_long};
  var food_truck_markers = #{{@food_trucks.to_json}};

coffee:
  $ ->
    infowindow = new google.maps.InfoWindow

    # print the map
    if lat && long
      mycoords = new google.maps.LatLng long, lat
    else
      mycoords = new google.maps.LatLng 34.0636014, -118.3682263
    mapOptions =
      zoom: 12
      center: mycoords
      mapTypeId: google.maps.MapTypeId.ROADMAP
    map = new google.maps.Map document.getElementById('map_canvas'), mapOptions
    # set the marker of user location
    customimg = new google.maps.MarkerImage '/assets/marker_sprite.png', new google.maps.Size(21, 34), new google.maps.Point(0, 0)
    customshadow = new google.maps.MarkerImage '/assets/marker_sprite.png', new google.maps.Size(28, 34), new google.maps.Point(28, 0), new google.maps.Point(0, 34)

    mymarker = new google.maps.Marker position:mycoords, map:map, title:"I'm here!", icon: customimg, shadow: customshadow
    onclick = ->
      infowindow.setContent("I'M HERE!")
      infowindow.open(map, mymarker) 
    google.maps.event.addListener mymarker, 'click', onclick

    # set the marker of nearby foodtrucks
    for food_truck in food_truck_markers
      do (food_truck) ->
        console.log(food_truck.longitude)
        myLatLng = new google.maps.LatLng food_truck.latitude, food_truck.longitude
        truck_marker = new google.maps.Marker position: myLatLng, map: map, title: food_truck.name
        onclick = ->
          infowindow.setContent(food_truck.name)
          infowindow.open(map, truck_marker) 
        google.maps.event.addListener truck_marker, 'click', onclick


