<% content_for :head do %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjpc3N49wLGD0LtRTkwIjxrRBDx1hAaco&sensor=false"></script>

<script type="text/javascript">

$(function() {
	$('#my_location').click(function() {
		var mycoords;
		if (navigator.geolocation)
		{
			navigator.geolocation.getCurrentPosition(function(position)
			{
		  	var lat = position.coords.latitude;
		    var lng = position.coords.longitude;
				$('#location').val(lat + ',' + lng);
			});
		}
	}); 
});

</script>
<% end %>

<form method="get" action="/">
	<input id='location' type='search' placeholder='where?' name='location'/> or <a href="#" id="my_location">use my current location</a>
	<input type="submit" value="Search">
</form>

<br /><br /> 


<% @food_trucks.sort_by! {|f| f[:distance]}.each do |food_truck| %>
  <li><%= food_truck[:name] %> - <%= number_with_precision(food_truck[:distance], {precision: 2} ) %> miles</li>
<% end %>