/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background-color: #fbfdf1;
}

body {
	width: 960px;
	margin: 0 auto;
	font: 12px "Lucida Grande", "Lucida Sans Unicode";
}

p#createaccount {
	display: none;
	background-color: #FFFFCC;
	padding: 10px;
	a {
		font-weight: bold;
		color: orangered;
	}
}

#left {
	width: 300px;
	float: left;
	margin-right: 20px;
	height: 100%;
	background-color: white;
	border: 2px solid #c4b887;
	
	a {
		color: #85bc79;
	}
	
	#loc_form {
		padding: 10px;
		text-align: center;
		
		input {
			width: 260px;
			font-size: 15px;
		}
		input[type=submit] {
			width: 60px;
		}
	}
	
	h3 {
		font: bold 13px "Georgia";
		border-bottom: 1px dotted #ddd;
		padding-bottom: 5px;
		margin-bottom: 0;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: center;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			padding: 10px;
			cursor: pointer;
			&:hover {
				background-color: #d8f0d4;
			}
		}
	}
}

.heart {
	float: left;
	width: 25px;
	padding-top: 3px;
	opacity: 0.15;
}

.heart.favorite {
	opacity: 1;
}

#user_info {
	margin: 10px;
	text-align: right;
	.username {
		font-weight: bold;
	}
}

#map_canvas {
	width: 600px;
	height: 600px;
}