<!DOCTYPE html>
<html>
<head>
  <title>Nearest Food Trucks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://google-developers.appspot.com/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">

  function initialize() 
  {
    var myLatlng = new google.maps.LatLng(34.0522,-118.2428);
    var myOptions = {
      zoom: 10,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
  
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    setMarkers(map, foodtrucks);

    infowindow = new google.maps.InfoWindow({
      content: "placeholder"
    });
  }

  var foodtrucks = [
  <%= yield %>
  ];

  //geolocation code
  var infowindow = null;
  function setMarkers(map, locations)
  {
    for (var i = 0; i < locations.length; i++)
    {
      var truck = locations[i];
      var myLatLng = new google.maps.LatLng(truck[1], truck[2]);
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: truck[0],
        zIndex: truck[3]
      });
      
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(this.title);
        infowindow.open(map, this);
      });
    }
  }
  </script>
</head>

<body onload="initialize()">
    <div id="map_canvas"></div>
</body>

</html>
